<h1>WHERE ALL THE MAGIC LIVES!</h1>
<div class="row">
<% @polishes.each do |polish| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="<%= polish.image %>">
      <div class="caption">
        <h3><%= polish.name %></h3>
        <h3>$<%= polish.price %></h3>
        <%= link_to "More Info", polish, class: "btn btn-default" %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<br>

<%= link_to 'New Polish', new_polish_path, class: "btn btn-primary" %>